body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: url("./assets/bg/win-wallpaper.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, .desktop, .window, .taskbar {
  cursor: url("assets/cursor/cartoon_cursor.png"), auto;
}


.desktop {
  min-height: 100vh;
  position: relative;
  padding: 20px;
}

/* DESKTOP ICON */
.desktop-icon {
  width: 80px;
  text-align: center;
  
  margin: 10px;
}

.desktop-icon p {
  width: 80px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color: white;
  font-family: "Comic Sans MS", cursive;
}

.icon {
  font-size: 40px;
}

.icon-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #fff8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-family: "Comic Sans MS", cursive;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 4);
  z-index: 50;
  
}

.taskbar-item {
  margin-right: 15px;
  font-weight: bold;
}

.taskbar-clock {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.taskbar-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 15px;
}


/* WINDOW */
.window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 400px;
  background: #fff8f0;
  border: 3px solid #333;
  border-radius: 12px;
  box-shadow: 6px 6px 0 #000;
  z-index: 10;
  font-family: "Comic Sans MS", cursive;
}

/* WINDOW HEADER */
.window-header {
  background: #ffcc70;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #333;
  border-radius: 9px 9px 0;
  font-weight: bold;
}

/* WINDOW CONTENT */
.window-body {
  padding: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.folder {
  background: #fff;
  display: flex;
  align-items: center;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 10px;
}

.folder:hover {
  background: #ffebcb;
  cursor: url("assets/cursor/cartoon_cursor.png"), pointer;
}

.folder-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 8px;
}



.close-btn {
  width: 24px;
  height: 24px;
  
}
